<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <h2>Login</h2>
  <a href="/auth/github"> Login with Github </a>
  <br>
  <a href="/auth/bitbucket"> Login with Bitbucket </a>

</body>

</html>